<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SHOPPING_ITEM_OPTIONS">
	<resultMap type="com.spring.biz.vo.OptionsVO" id="options">
		<result column="OPTIONS_CODE" 				property="optionsCode"/>
		<result column="ITEM_CODE" 					property="itemCode"/>
		<result column="OPTIONS_01" 				property="options01"/>
		<result column="OPTIONS_02" 				property="options02"/>
		<result column="OPTIONS_03" 				property="options03"/>
		<result column="OPTIONS_04" 				property="options04"/>
		<result column="OPTIONS_05" 				property="options05"/>		
		<result column="NVL_ITEM_CODE" 				property="nvlItemCode"/>
		<result column="NVL_OPTIONS_CODE" 			property="nvlOptionsCode"/>
	</resultMap>
	
<!-- 	옵션 셀렉트 -->
	<select id="selectOptions" resultMap="options">
		SELECT ITEM_CODE
				, OPTIONS_CODE
				, OPTIONS_01
				, OPTIONS_02
				, OPTIONS_03
				, OPTIONS_04
				, OPTIONS_05
		FROM SHOPPING_ITEM_OPTIONS
		WHERE ITEM_CODE = #{itemCode}
	</select>
	
<!-- 	옵션 인서트 -->
	<insert id="insertOptions">
		INSERT INTO SHOPPING_ITEM_OPTIONS
		(
			OPTIONS_CODE
				, ITEM_CODE
				, OPTIONS_01
				<if test="options02 != null">
					, OPTIONS_02
				</if>
				<if test="options03 != null">
					, OPTIONS_03
				</if>
				<if test="options04 != null">
					, OPTIONS_04
				</if>
				<if test="options05 != null">
					, OPTIONS_05
				</if>
		) VALUES (
			 #{optionsCode}
				, #{itemCode}
				, #{options01}
				<if test="options02 != null">
					, #{options02}
				</if>
				<if test="options03 != null">
					, #{options03}
				</if>
				<if test="options04 != null">
					, #{options04}
				</if>
				<if test="options05 != null">
					, #{options05}
				</if>
		)
	</insert>
</mapper>